<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zaijiadd.app.applyflow.dao.StoreInfoDao" >
  <resultMap id="BaseResultMap" type="com.zaijiadd.app.applyflow.entity.StoreInfo" >
    <id column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="capital" property="capital" jdbcType="INTEGER" />
    <result column="capital_name" property="capitalName" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="INTEGER" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
    <result column="apply_store_id" property="applyStoreId" jdbcType="BIGINT" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="person_num" property="personNum" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="INTEGER" />
    <result column="street_name" property="streetName" jdbcType="VARCHAR" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="address_audit_opinion" property="addressAuditOpinion" jdbcType="VARCHAR" />
    <result column="imgs_audit_opinion" property="imgsAuditOpinion" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="address_audit_status" property="addressAuditStatus" jdbcType="INTEGER" />
    <result column="imgs_audit_status" property="imgsAuditStatus" jdbcType="INTEGER" />
    <result column="applicant" property="applicant" jdbcType="INTEGER" />
    <result column="application_time" property="applicationTime" jdbcType="TIMESTAMP" />
    <result column="address_approver" property="addressApprover" jdbcType="INTEGER" />
    <result column="address_approval_time" property="addressApprovalTime" jdbcType="TIMESTAMP" />
    <result column="imgs_approver" property="imgsApprover" jdbcType="INTEGER" />
    <result column="imgs_approval_time" property="imgsApprovalTime" jdbcType="TIMESTAMP" />
    <result column="application_shop_time" property="applicationShopTime" jdbcType="TIMESTAMP" />
    <result column="shop_applicant" property="shopApplicant" jdbcType="INTEGER" />
    <result column="is_history" property="isHistory" jdbcType="INTEGER" />
    <result column="households" property="households" jdbcType="INTEGER" />
    <result column="households_operation" property="householdsOperation" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="DtoResultMap" type="com.zaijiadd.app.applyflow.dto.StoreInfoDTO" >
  	<result column="store_id" property="storeId" jdbcType="INTEGER" />
  	<result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
     <result column="apply_type" property="applyType" jdbcType="INTEGER" />
    <result column="application_time" property="applicationTime" jdbcType="TIMESTAMP" />
    <result column="address_approval_time" property="addressApprovalTime" jdbcType="TIMESTAMP" />
    <result column="imgs_approval_time" property="imgsApprovalTime" jdbcType="TIMESTAMP" />
   	<result column="application_shop_time" property="applicationShopTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="ApprovalResultMap" type="com.zaijiadd.app.applyflow.dto.StoreApprovalDTO" >
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="paymoney_type" property="paymoneyType" jdbcType="INTEGER" />
    <result column="paid_money" property="paidMoney" jdbcType="DECIMAL" />
    <result column="application_time" property="applicationTime" jdbcType="TIMESTAMP" />
    <result column="address_approval_time" property="addressApprovalTime" jdbcType="TIMESTAMP" />
    <result column="imgs_approval_time" property="imgsApprovalTime" jdbcType="TIMESTAMP" />
    <result column="application_shop_time" property="applicationShopTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
  <!--   store_id, capital, city, district, apply_store_id, apply_name, person_num, phone, 
    street, detail_address, village, status -->
    	*
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from store_info
    where store_id = #{storeId,jdbcType=BIGINT}
  </select>
  <select id="selectByApplicant" resultMap="DtoResultMap" parameterType="map" >
    select  t1.apply_name,t1.apply_store_id,t1.store_id, t1.application_shop_time, t1.phone, t1.application_time, t2.apply_type,t1.imgs_approval_time,t1.address_approval_time  
    from store_info t1  
    LEFT JOIN  cobra_apply_store_detail t2 ON t1.apply_store_id=t2.apply_store_detail_id 
	where 1=1 and is_history=0
	<if test="status != null and type == null" >
        and status = #{status,jdbcType=INTEGER}
     </if>
     <if test="type != null" >
       	and status in(1,2,3)
     </if>
     <if test="addressAuditStatus != null" >
        and address_audit_status = #{addressAuditStatus,jdbcType=INTEGER}
     </if>
     <if test="applicant != null" >
        and applicant = #{applicant,jdbcType=INTEGER}
     </if>
     <if test="shopApplicant != null" >
        and shop_applicant = #{shopApplicant,jdbcType=INTEGER}
     </if>
     <if test="imgsAuditStatus != null" >
        and imgs_audit_status = #{imgsAuditStatus,jdbcType=INTEGER}
     </if>
     order by application_time desc
			limit #{start,jdbcType=INTEGER}, #{end}
  </select>
  
  <select id="applicantCount" resultType="Integer" parameterType="map" >
    select  count(t1.store_id) from store_info t1  
	where 1=1 and is_history=0
	<if test="status != null and type == null" >
        and status = #{status,jdbcType=INTEGER}
     </if>
     <if test="type != null" >
       	and status in(1,2,3)
     </if>
     <if test="addressAuditStatus != null" >
        and address_audit_status = #{addressAuditStatus,jdbcType=INTEGER}
     </if>
     <if test="applicant != null" >
        and applicant = #{applicant,jdbcType=INTEGER}
     </if>
     <if test="shopApplicant != null" >
        and shop_applicant = #{shopApplicant,jdbcType=INTEGER}
     </if>
     <if test="imgsAuditStatus != null" >
        and imgs_audit_status = #{imgsAuditStatus,jdbcType=INTEGER}
     </if>
  </select>
  
  
   <select id="selectShopByApplicant" resultMap="DtoResultMap" parameterType="map" >
    select  t3.apply_name,t1.shop_id,t1.store_id, t1.application_shop_time, t3.phone, t3.application_time, t2.apply_type,t1.imgs_approval_time,t3.address_approval_time 
     from shop_apply t1  
    left join store_info t3 on t1.store_id=t3.store_id
    LEFT JOIN  cobra_apply_store_detail t2 ON t2.apply_store_detail_id=t3.apply_store_id 
	where 1=1 and t1.is_history=0
	<if test="status != null" >
        and t3.status = #{status,jdbcType=INTEGER}
     </if>
     <if test="addressAuditStatus != null" >
        and t3.address_audit_status = #{addressAuditStatus,jdbcType=INTEGER}
     </if>
     <if test="applicant != null" >
        and t3.applicant = #{applicant,jdbcType=INTEGER}
     </if>
     <if test="shopApplicant != null" >
        and t1.shop_applicant = #{shopApplicant,jdbcType=INTEGER}
     </if>
     <if test="imgsAuditStatus != null" >
        and t1.imgs_audit_status = #{imgsAuditStatus,jdbcType=INTEGER}
     </if>
     order by t3.application_time desc
			limit #{start,jdbcType=INTEGER}, #{end}
  </select>
  
  <select id="applicantShopCount" resultType="Integer" parameterType="map" >
     select  count(*)
     from shop_apply t1  
    left join store_info t3 on t1.store_id=t3.store_id
    LEFT JOIN  cobra_apply_store_detail t2 ON t2.apply_store_detail_id=t3.apply_store_id 
	where 1=1 and t1.is_history=0
	<if test="status != null" >
        and t3.status = #{status,jdbcType=INTEGER}
     </if>
     <if test="addressAuditStatus != null" >
        and t3.address_audit_status = #{addressAuditStatus,jdbcType=INTEGER}
     </if>
     <if test="applicant != null" >
        and t3.applicant = #{applicant,jdbcType=INTEGER}
     </if>
     <if test="shopApplicant != null" >
        and t1.shop_applicant = #{shopApplicant,jdbcType=INTEGER}
     </if>
     <if test="imgsAuditStatus != null" >
        and t1.imgs_audit_status = #{imgsAuditStatus,jdbcType=INTEGER}
     </if>
  </select>
  
   <select id="getMyApproval" resultMap="DtoResultMap" parameterType="map" >
   <!--  select  t1.apply_name,t1.store_id, t1.application_shop_time,t2.paid_money,t1.application_time,t2.paymoney_type,t1.imgs_approval_time,t1.address_approval_time  from store_info t1  
    LEFT JOIN  cobra_apply_store t2 ON t1.apply_store_id=t2.apply_store_id -->
    select  t1.apply_name,t1.store_id, t1.application_shop_time, t1.phone, t1.application_time, t2.apply_type,t1.imgs_approval_time,t1.address_approval_time  from store_info t1  
    LEFT JOIN  cobra_apply_store_detail t2 ON t1.apply_store_id=t2.apply_store_detail_id
	where 1=1
	<if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
     </if>
     <if test="addressAuditStatus != null" >
        and address_audit_status = #{addressAuditStatus,jdbcType=INTEGER}
     </if>
     
     <if test="addressApprover != null" >
        	and address_approver = #{addressApprover,jdbcType=INTEGER}
     </if>
     
     <if test="imgsApprover != null" >
        	and imgs_approver = #{imgsApprover,jdbcType=INTEGER}
     </if>
     
     <if test="imgsAuditStatus != null" >
        and imgs_audit_status = #{imgsAuditStatus,jdbcType=INTEGER}
     </if>
       order by application_time desc
			limit #{start,jdbcType=INTEGER}, #{end}
  </select>
  
   <select id="approvalCount" resultType="Integer" parameterType="map" >
    select  count(t1.store_id) from store_info t1  
	where 1=1
	<if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
     </if>
     <if test="addressAuditStatus != null" >
        and address_audit_status = #{addressAuditStatus,jdbcType=INTEGER}
     </if>
     
     <if test="addressApprover != null" >
        	and address_approver = #{addressApprover,jdbcType=INTEGER}
     </if>
     
     <if test="imgsApprover != null" >
        	and imgs_approver = #{imgsApprover,jdbcType=INTEGER}
     </if>
     
     <if test="imgsAuditStatus != null" >
        and imgs_audit_status = #{imgsAuditStatus,jdbcType=INTEGER}
     </if>
    
  </select>
  
  <select id="getShopApproval" resultMap="DtoResultMap" parameterType="map" >
   <!--  select  t1.apply_name,t1.store_id, t1.application_shop_time,t2.paid_money,t1.application_time,t2.paymoney_type,t1.imgs_approval_time,t1.address_approval_time  from store_info t1  
    LEFT JOIN  cobra_apply_store t2 ON t1.apply_store_id=t2.apply_store_id -->
    select  t1.apply_name,t1.store_id, t3.shop_id,t1.application_shop_time, t1.phone, t1.application_time, t2.apply_type,t1.imgs_approval_time,t1.address_approval_time  from  
    shop_apply t3 left join store_info t1  on t1.store_id=t3.store_id
    LEFT JOIN  cobra_apply_store_detail t2 ON t1.apply_store_id=t2.apply_store_detail_id
	where 1=1
	<if test="status != null" >
        and t1.status = #{status,jdbcType=INTEGER}
     </if>
     <if test="addressAuditStatus != null" >
        and t1.address_audit_status = #{addressAuditStatus,jdbcType=INTEGER}
     </if>
     
     <if test="addressApprover != null" >
        	and t1.address_approver = #{addressApprover,jdbcType=INTEGER}
     </if>
     
     <if test="imgsApprover != null" >
        	and t3.imgs_approver = #{imgsApprover,jdbcType=INTEGER}
     </if>
     
     <if test="imgsAuditStatus == 0" >
        and t3.imgs_audit_status =0
     </if>
     
     <if test="imgsAuditStatus == 1" >
        and t3.imgs_audit_status !=0
     </if>
       order by application_time desc
			limit #{start,jdbcType=INTEGER}, #{end}
  </select>
  
   <select id="approvalShopCount" resultType="Integer" parameterType="map" >
    select  count(1) from shop_apply t1  
	where 1=1
     
     <if test="imgsApprover != null" >
        	and imgs_approver = #{imgsApprover,jdbcType=INTEGER}
     </if>
     
     <if test="imgsAuditStatus == 0" >
        and imgs_audit_status =0
     </if>
     
     <if test="imgsAuditStatus == 1" >
        and imgs_audit_status !=0
     </if>
    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from store_info
    where store_id = #{storeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zaijiadd.app.applyflow.entity.StoreInfo" >
  
  	<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="storeId">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into store_info (capital, city, 
      district, apply_store_id, apply_name, 
      person_num, phone, street, 
      detail_address, village, status, capital_name, city_name,
      district_name, street_name, applicant, application_time, is_history, households
      
      )
    values (#{capital,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{applyStoreId,jdbcType=BIGINT}, #{applyName,jdbcType=VARCHAR}, 
      #{personNum,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{detailAddress,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{capitalName,jdbcType=VARCHAR},  #{cityName,jdbcType=VARCHAR},  #{districtName,jdbcType=VARCHAR}, 
      #{streetName,jdbcType=VARCHAR}, #{applicant,jdbcType=INTEGER}, #{applicantTime,jdbcType=TIMESTAMP},
      #{isHistory,jdbcType=INTEGER}, #{households,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zaijiadd.app.applyflow.entity.StoreInfo" >
  <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="storeId">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
    insert into store_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="capital != null" >
        capital,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="district != null" >
        district,
      </if>
      <if test="applyStoreId != null" >
        apply_store_id,
      </if>
      <if test="applyName != null" >
        apply_name,
      </if>
      <if test="personNum != null" >
        person_num,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="village != null" >
        village,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="capital != null" >
        #{capital,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="applyStoreId != null" >
        #{applyStoreId,jdbcType=BIGINT},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null" >
        #{personNum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        #{village,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zaijiadd.app.applyflow.entity.StoreInfo" >
    update store_info
    <set >
      <if test="capital != null" >
        capital = #{capital,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="applyStoreId != null" >
        apply_store_id = #{applyStoreId,jdbcType=BIGINT},
      </if>
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="personNum != null" >
        person_num = #{personNum,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="village != null" >
        village = #{village,jdbcType=VARCHAR},
      </if>
      <if test="addressAuditOpinion != null" >
        address_audit_opinion = #{addressAuditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="imgsAuditOpinion != null" >
        imgs_audit_opinion = #{imgsAuditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addressAuditStatus != null" >
        address_audit_status = #{addressAuditStatus,jdbcType=INTEGER},
      </if>
      <if test="imgsAuditStatus != null" >
        imgs_audit_status = #{imgsAuditStatus,jdbcType=INTEGER},
      </if>
      <if test="addressApprover != null" >
        address_approver = #{addressApprover,jdbcType=INTEGER},
      </if>
      <if test="imgsApprover != null" >
        imgs_approver = #{imgsApprover,jdbcType=INTEGER},
      </if>
      <if test="addressApprovalTime != null" >
        address_approval_time = #{addressApprovalTime,jdbcType=INTEGER},
      </if>
      <if test="imgsApprovalTime != null" >
        imgs_approval_time = #{imgsApprovalTime,jdbcType=INTEGER},
      </if>
      <if test="applicationShopTime != null" >
        application_shop_time = #{applicationShopTime,jdbcType=INTEGER},
      </if>
      <if test="shopApplicant != null" >
        	shop_applicant = #{shopApplicant,jdbcType=INTEGER},
      </if>
      <if test="isHistory != null" >
        	is_history = #{isHistory,jdbcType=INTEGER},
      </if>
      <if test="households != null" >
        	households = #{households,jdbcType=INTEGER},
      </if>
      <if test="householdsOperation != null" >
        	households_operation = #{householdsOperation,jdbcType=INTEGER},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zaijiadd.app.applyflow.entity.StoreInfo" >
    update store_info
    set capital = #{capital,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      district = #{district,jdbcType=VARCHAR},
      apply_store_id = #{applyStoreId,jdbcType=BIGINT},
      apply_name = #{applyName,jdbcType=VARCHAR},
      person_num = #{personNum,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where store_id = #{storeId,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectByShopId" resultMap="BaseResultMap" parameterType="map" >
    select t3.store_id, t1.username, t1.password, capital, city, district, apply_store_id, apply_name, person_num, phone, 
    street, detail_address, village, status,t1.shop_id,  t1.shop_applicant, t1.imgs_approval_time, t1.imgs_approver, t1.imgs_audit_status, 
    t1.imgs_audit_opinion
     from shop_apply t1  
    left join store_info t3 on t1.store_id=t3.store_id
	where 1=1 and shop_id=#{shopId,jdbcType=BIGINT}
  </select>
</mapper>