<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zaijiadd.app.applyflow.dao.TownMapper" >
  <resultMap id="BaseResultMap" type="com.zaijiadd.app.applyflow.entity.Town" >
    <id column="town_id" property="townId" jdbcType="INTEGER" />
    <result column="town_name" property="townName" jdbcType="VARCHAR" />
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    town_id, town_name, country_id
  </sql>
  <select id="selectByCountryId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from town
    where country_id = #{countryId,jdbcType=INTEGER}
  </select>
  
  <select id="selectNameById" resultType="String" parameterType="Integer">
    select town_name
    	from town  where town_id = #{townId,jdbcType=INTEGER} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from town
    where town_id = #{townId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zaijiadd.app.applyflow.entity.Town" >
    insert into town (town_id, town_name, country_id
      )
    values (#{townId,jdbcType=INTEGER}, #{townName,jdbcType=VARCHAR}, #{countryId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zaijiadd.app.applyflow.entity.Town" >
    insert into town
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="townId != null" >
        town_id,
      </if>
      <if test="townName != null" >
        town_name,
      </if>
      <if test="countryId != null" >
        country_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="townId != null" >
        #{townId,jdbcType=INTEGER},
      </if>
      <if test="townName != null" >
        #{townName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        #{countryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zaijiadd.app.applyflow.entity.Town" >
    update town
    <set >
      <if test="townName != null" >
        town_name = #{townName,jdbcType=VARCHAR},
      </if>
      <if test="countryId != null" >
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
    </set>
    where town_id = #{townId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zaijiadd.app.applyflow.entity.Town" >
    update town
    set town_name = #{townName,jdbcType=VARCHAR},
      country_id = #{countryId,jdbcType=INTEGER}
    where town_id = #{townId,jdbcType=INTEGER}
  </update>
</mapper>