<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zaijiadd.app.dataquery.dao.YjsReqMsgDao">

	<select id="queryByParam" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select
		t.*, a.realname crewRealName, b.channel_name channelName
		from yjs_req_msg t
		left join yjs_user a
		on a.user_id = t.cuser
		left join cobra_channel_info b
		on b.channel_id = t.channel_id
		where 1=1
		<if test="statusType != null and statusType != ''">
			and status_type = #{statusType,jdbcType=INTEGER}
		</if>
		<if test="id != null and id !='' ">
			and t.msgid = #{id,jdbcType=INTEGER}
		</if>
		<if test="cussrc != null and cussrc !='' ">
			and t.cussrc = #{cussrc,jdbcType=VARCHAR}
		</if>
		<if test=" custype!= null and custype !='' ">
			and t.custype =#{custype,jdbcType=VARCHAR}
		</if>
		<if test="city != null and city!='' ">
			and t.ccity = #{city,jdbcType=VARCHAR}
		</if>
		<if test="cgroup!= null and cgroup!='' ">
			and t.cgroup = #{cgroup,jdbcType=VARCHAR}
		</if>
		<if test="searchStr != null and searchStr != ''">
			and ( name like CONCAT('%','${searchStr}','%' ) 
			or phone like CONCAT('%','${searchStr}','%' ) 
			or qq like CONCAT('%','${searchStr}','%' ) 
			or wx like CONCAT('%','${searchStr}','%' )
			)
		</if>
		
		<if test="beginDate != null and beginDate != ''">
			<![CDATA[ and date_format( protim, '%Y%m%d' ) >＝ #{beginDate}]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[ and date_format( protim, '%Y%m%d' ) <＝ #{endDate}]]>
		</if>
		
		<if test="queryDate != null and queryDate != ''">
			and date_format( protim, '%Y%m%d' ) = #{queryDate}
		</if>
		<if test="memberId != null and memberId != ''">
			and t.cuser = #{memberId}
		</if>
		<if test="cuser != null and cuser !='' ">
			and t.cuser = #{cuser,jdbcType=VARCHAR}
		</if>
		<if test="uid != null and uid !=''">
			or t.operator_user_id = #{uid}
		</if>
		order by protim desc
		limit #{start,jdbcType=INTEGER}, #{end}
	</select>
	
	<select id="queryByParamCount" resultType="java.lang.Integer"
		parameterType="java.util.HashMap">
		select
		count(1)
		from yjs_req_msg
		where 1=1
		<if test="statusType != null and statusType != ''">
			and status_type = #{statusType,jdbcType=INTEGER}
		</if>
		<if test="id != null and id !='' ">
			and msgid = #{id,jdbcType=INTEGER}
		</if>
		<if test="cussrc != null and cussrc !='' ">
			and cussrc = #{cussrc,jdbcType=VARCHAR}
		</if>
		<if test=" custype!= null and custype !='' ">
			and custype =#{custype,jdbcType=VARCHAR}
		</if>
		<if test="city != null and city!='' ">
			and ccity = #{city,jdbcType=VARCHAR}
		</if>
		<if test="cgroup!= null and cgroup!='' ">
			and cgroup = #{cgroup,jdbcType=VARCHAR}
		</if>
		<if test="cuser != null and cuser !='' ">
			and cuser = #{cuser,jdbcType=VARCHAR}
		</if>
		<if test="beginDate != null and beginDate != ''">
			<![CDATA[ and date_format( protim, '%Y%m%d' ) >＝ #{beginDate}]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[ and date_format( protim, '%Y%m%d' ) <＝ #{endDate}]]>
		</if>
		<if test="queryDate != null and queryDate != ''">
			and date_format( protim, '%Y%m%d' ) = #{queryDate}
		</if>
		<if test="memberId != null and memberId != ''">
			and cuser = #{memberId}
		</if>
		<if test="uid != null and uid !=''">
			or operator_user_id = #{uid}
		</if>
		<if test="searchStr != null and searchStr != ''">
			and ( name like CONCAT('%','${searchStr}','%' ) 
			or phone like CONCAT('%','${searchStr}','%' ) 
			or qq like CONCAT('%','${searchStr}','%' ) 
			or wx like CONCAT('%','${searchStr}','%' )
			)
		</if>
	</select>
	<update id="updReqMsg" parameterType="java.util.HashMap">
		update yjs_req_msg
		set name = #{name,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		wx = #{wx,jdbcType=VARCHAR},
		qq = #{qq,jdbcType=VARCHAR},
		ccity = #{ccity,jdbcType=VARCHAR},
		custype = #{custype,jdbcType=VARCHAR}
		<if test="statusType!= null and statusType !='' ">
		,status_type = #{statusType,jdbcType=VARCHAR}
		</if>
		<if test="remark!= null and remark !='' ">
		,remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="cityId!= null and cityId !='' ">
		,city_id = #{cityId,jdbcType=VARCHAR}
		</if>
		<if test="provinceId!= null and provinceId !='' ">
		,province_id = #{provinceId,jdbcType=VARCHAR}
		</if>
		where msgid = #{id,jdbcType=INTEGER}
	</update>
	<select id="groupList" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select t.*, a.realname realname from yjs_org t 
		INNER JOIN yjs_user a
		ON a.orgid = t.orgid
		where t.upid=(select orgid from yjs_user where user_id =#{uid,jdbcType=INTEGER})
		AND a.roleid = 2 AND a.isleader = 1
	</select>
	<select id="groupInfo" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select * from yjs_org where orgid=(select orgid from yjs_user where user_id =
		#{uid,jdbcType=INTEGER})
	</select>
	<select id="workCount" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select * from yjs_req_msg where cgroup= #{orgid,jdbcType=VARCHAR}
	</select>
	<select id="workCountUser" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select * from yjs_req_msg where cuser= #{cuser,jdbcType=VARCHAR}
	</select>
	<select id="userList" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select * from yjs_user where orgid=#{orgid,jdbcType=INTEGER}
	</select>
	<select id="userInfo" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select u.user_id id, u.mobile mobile, u.realname,u.roleid,u.isleader,u.orgid,o.upid from
		yjs_user u
		inner join yjs_org o on u.orgid=o.orgid
		where 1 = 1
		<if test="uid!= null and uid !='' ">
			and u.user_id=#{uid,jdbcType=INTEGER}
		</if>
		<if test="mobile!= null and mobile !='' ">
			and u.mobile=#{mobile,jdbcType=INTEGER}
		</if>
		<if test="passwd!= null and passwd !='' ">
			and u.password = #{passwd,jdbcType=VARCHAR}
		</if>
	</select>
	<update id="dispatchGroupWork" parameterType="java.util.HashMap">
		update yjs_req_msg
		set cgroup = #{orgid,jdbcType=VARCHAR},
		status_type = '2'
		where msgid = #{wid,jdbcType=INTEGER}
	</update>
	<update id="dispatchPersonWork" parameterType="java.util.HashMap">
		update yjs_req_msg
		set cgroup = #{orgid,jdbcType=VARCHAR},cuser =
		#{uid,jdbcType=VARCHAR},status_type = 1, allot_date = now()
		where msgid = #{wid,jdbcType=INTEGER}
	</update>

	<select id="timeInfo" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select max(protim) protim from yjs_req_msg where created_type = 1
	</select>
	<select id="dataImport" resultType="java.util.HashMap"
		parameterType="java.util.HashMap">
		select * from home_visitor where 1=1
		<if test="created_at!= null and created_at !='' ">
			and created_at > #{created_at,jdbcType=VARCHAR}
		</if>
		order by created_at
	</select>
	<insert id="dataInsert" parameterType="java.util.HashMap">
		insert into
		yjs_req_msg(cussrc,srcdtl,protim,phncnt,name,phone,email,wx,qq,city,custype,ccity,cgroup,cuser,status_type,salman,remark, channel_id)
		values(#{cussrc,jdbcType=VARCHAR},#{srcdtl,jdbcType=VARCHAR},#{protim,jdbcType=VARCHAR},#{phncnt,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{wx,jdbcType=VARCHAR},
		#{qq,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{custype,jdbcType=VARCHAR},#{ccity,jdbcType=VARCHAR},#{cgroup,jdbcType=VARCHAR},
		#{cuser,jdbcType=VARCHAR},#{statusType,jdbcType=VARCHAR},#{salman,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR}, #{channelId})
	</insert>
	
	<select id="getStatusType" resultType="java.util.Map">
		select status_name statusName, status_value statusValue from status_type
		where status = 1
	</select>
	
	<update id="updatePhoneInfo" parameterType="java.util.Map">
		update 
			yjs_req_msg
		set
			phncnt = phncnt + 1,
			lastphntim = #{callDate}
		where
			msgid = #{msgId}
	</update>
	
	<insert id="insertYjsReqMsg" parameterType="yjsReqMsgDto" useGeneratedKeys="true" keyProperty="msgId">
		insert into yjs_req_msg
		( channel_id, protim, city_id, operator_user_id, province_id, name, phone, wx, qq, custype, remark, status_type, ccity, created_type )
		values
		( #{channelId}, now(), #{cityId}, #{operatorUserId}, #{provinceId}, #{realname}, #{mobile}, #{wechat}, #{qq}, #{coType}, #{remark}, 0, #{ccity}, #{createdType} )
	</insert>
	
	<select id="getReqMsgIdByMobile" parameterType="java.lang.String" resultType="java.lang.Integer">
		select msgid from yjs_req_msg where phone = #{mobile} order by protim desc limit 1
	</select>
	
	<insert id="insertCobraRepeatFlow" parameterType="repeatFlowEntity">
		insert into cobra_repeat_flow( resource_channel, uri, created_at, name, mobile, email, wechat, qq, city, remark, created_type )
		values(
			#{resourceChannel}, #{uri}, #{createdAt}, #{name}, #{mobile}, #{email}, #{wechat}, #{qq}, #{city}, #{remark}, #{createdType} 
		)
	</insert>
	
	<update id="recoveryMsg" parameterType="java.lang.Integer">
		update yjs_req_msg set status_type = 0, cgroup = null, cuser = null
		where msgid = #{msgId}
	</update>
	<update id="recoveryMsgByCEO" parameterType="java.lang.Integer">
		update yjs_req_msg set status_type = 0, cgroup = null, cuser = null
		where msgid = #{msgId}
	</update>
	<update id="recoveryMsgByLeader" parameterType="java.lang.Integer">
		update yjs_req_msg set status_type = 2, cuser = null
		where msgid = #{msgId}
	</update>
	
	<select id="getChannelIdByUri" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT
			channel_id
		FROM
			cobra_channel_info
		WHERE
			instr(
				#{uri},
				ori_channel_field
			) > 0
		AND pre_channel_id = 0
		LIMIT 1
	</select>
	<select id="getUserRoleByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select roleid
		from
			yjs_user
		where
			user_id = #{userId}
	</select>
	
	<select id="getMsgInfoByMsgId" parameterType="java.lang.Integer" resultType="yjsReqMsgDto">
		select
			msgid msgId,
			channel_id channelId,
			ccity ccity,
			cuser cuser
		from
			yjs_req_msg
		where
			msgid = #{msgId}
	</select>
	<update id="updateAutoAllotStatus" parameterType="java.util.Map">
		update
			yjs_user
		set
			auto_allot_status = #{updateStatus}
		where
			user_id = #{userId}
	</update>
	<select id="queryAutoAllotStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select
			auto_allot_status
		from
			yjs_user
		where
			user_id = #{userId}
	</select>
	
</mapper>