<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zaijiadd.app.user.dao.ShopUserInfoDAO">

	<select id="getUserInfoById" parameterType="java.lang.Integer" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			user_id = #{userId}
	</select>
	
	<select id="getUserInfoByLeaderOrg" parameterType="java.lang.Integer" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			orgid = #{orgId}
		and
			isleader = 1
		and
			roleid = 2
	</select>
	
	<select id="getUserInfoForLogin" parameterType="map" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			mobile = #{username} and password = #{password}
	</select>
	<insert id="insert" parameterType="userInfoEntity" >
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="userId">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into shop_user
		( mobile, password)
		values
		( #{mobile}, #{password})
	</insert>
</mapper>