<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zaijiadd.app.user.dao.UserInfoDAO">

	<select id="getUserInfoById" parameterType="java.lang.Integer" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			user_id = #{userId}
	</select>
	<select id="getUserInfoByLeaderOrg" parameterType="java.lang.Integer" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			orgid = #{orgId}
		and
			roleid = 2
		and
			isleader = 1
	</select>
	
	<select id="getLeader" parameterType="map" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			orgid = #{orgId}
			<!-- 销售的直接主管 -->
			<if test="roleId == 3">
				and roleid = 2
			</if>
			<!-- 主管的直接主管 -->
			<if test="roleId == 2">
				and roleid = 1
			</if>
		
	</select>
	
	<select id="getUserInfoForLogin" parameterType="map" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			mobile = #{username} and password = #{password}
	</select>
	
	<select id="getLeaderByOrgId" parameterType="Integer" resultType="userInfoEntity">
		select
			user_id userId,
			mobile mobile,
			realname realname,
			password password,
			email email,
			roleid roleId,
			isleader isLeader,
			orgid orgId,
			landline_id landlineId,
			job_id jobId
		from
			yjs_user
		where
			isleader = 1 and orgid = #{orgid}
	</select>
	
	<update id="changePassword" parameterType="userInfoEntity">
	 	update yjs_user
	    <set >
	      <if test="password != null" >
	        	password = #{password,jdbcType=VARCHAR},
	      </if>
	    </set>
	    where user_id = #{userId,jdbcType=INTEGER}
	</update>
	
</mapper>